@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.theButton {
    color: green
}

p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: blue
}


h1 {
    font-family: 'Arial', Gadget, sans-serif;
    color: red
}

h2{
    font-family: 'Arial', Gadget, sans-serif;
    color: BROWN
}

#back {

    background-color: turquoise;
}

input{
    margin:15px;
}
.theButton{
    font-size: 15px;       
    padding: 12px 24px;    
    border-radius: 8px;    
    cursor: pointer;   
}
.theButton:hover {
    transform: scale(1.1);   
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2); 
}