@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.theButton {
    color: green
}

p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: blue
}


h1 {
    font-family: 'Arial', Gadget, sans-serif;
    color: red
}

#back {

    background-color: turquoise;
}
