@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.theButton {
    color: green
}

p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: teal;
    font-weight: bold;
}

html{
    min-height: 100vh;
    width: 100vw;
}

#back {

    background-image: url("/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
}

#bear {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30%;
    height: auto;
}

#weather-box {
    background-color: lightblue;
    padding: 30px;
    margin: 40px auto;
    max-width: 500px;
    border-radius: 15px;
    border: 3px solid darkblue;
}

h1 {
    font-family: 'Arial', Gadget, sans-serif;
    color: red
}

h2{
    font-family: 'Arial', Gadget, sans-serif;
    color: BROWN
}

#back {

    background-color: turquoise;
}

input{
    margin:15px;
}
.theButton{
    font-size: 15px;       
    padding: 12px 24px;    
    border-radius: 8px;    
    cursor: pointer;   
}
.theButton:hover {
    transform: scale(1.1);   
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2); 
}