<!doctype html>
<html lang="en">
<link rel="stylesheet" href="/style.css" type="text/css">

<head>
	<meta charset="utf-8" />
	<title>Error</title>
</head>

<body id="back">
    
	<h1>Error</h1>

	<p>City not found. Please go back and try again.</p>
    
</body>

</html>