<!doctype html>
<html lang="en">
<link rel="stylesheet" href="/style.css" type="text/css">

<head>
	<meta charset="utf-8" />
	<title>City Weather Lookup</title>
</head>

<body>
    <div id="back">
	<h1>Welcome to the City Weather Lookup</h1>
    <form action="/searchCity" method="get">
	<label id="para">Enter city name: <input type="text" value="Washington" name="cityName"> <input type="submit" value="Lookup Weather by City"></label>
    <br><br>
    <button onclick="location.href='/previousCity'">See Searched Cities</button>
    </form>
	<hr>
    </div>
</body>

</html>