<!doctype html>
<html lang="en">
<link rel="stylesheet" href="/style.css" type="text/css">

<head>
	<meta charset="utf-8" />
	<title>City Weather Lookup</title>
</head>

<body id="back">
    
	<h1>Welcome to the City Weather Lookup</h1>

    <h2>Search by City Names</h3>
    <form action="/searchCity" method="get">
        <p>City:<input type="text" name="cityName" value="College Park" required>

        State / Region:(optional)<input type="text" name="region">

        Country: (optional)<input type="text" name="country">
        <input type="submit" value="Search Weather" class="theButton"> </p> 

    </form>
    <img src="/bear.png" id="bear">
    </form>
    <form action="/previousSearches" method="get">
        <input type="submit" value="See all previous city searches" class="theButton"></p>
    </form>
	<hr>

    <form action="/clearDatabase" method="get">
    <input type="submit" value="CLEAR all previous Weather searches" class="theButton">
</form>
</body>

</html>
