<!doctype html>
<html lang="en">
<link rel="stylesheet" href="/style.css" type="text/css">

<head>
	<meta charset="utf-8" />
	<title>Previous Cities</title>
</head>

<body>
    <div id = "table">
	<h1>Previous Cities</h1>
	<div>
		<%- itemsTable %>
	</div>
</div>
    <hr>
	<p><a href="/">Back to Menu</a></p>
</body>

</html>
